aniso8601==8.0.0
appdirs==1.4.3
certifi==2020.4.5.2
click==7.1.2
distlib==0.3.0
filelock==3.0.12
Flask==1.1.2
Flask-RESTful==0.3.8
glob2==0.7
glob3==0.0.1
imutils==0.5.3
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.14.1
MarkupSafe==1.1.1
MouseInfo==0.1.2
numpy==1.18.1
opencv-contrib-python==4.2.0.32
opencv-contrib-python-headless==4.2.0.32
opencv-python==4.1.2.30
opencv-python-headless==4.2.0.32
pandas==1.0.0
pbr==5.4.4
Pillow==7.0.0
pipenv==2020.6.2
PyAutoGUI==0.9.48
PyGetWindow==0.0.8
PyMsgBox==1.0.7
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.26
python-dateutil==2.8.1
PyTweening==1.0.3
pytz==2019.3
scikit-learn==0.22.1
scipy==1.4.1
six==1.14.0
sklearn==0.0
stevedore==1.32.0
virtualenv==20.0.4
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
vptree==1.2
Werkzeug==1.0.1
